<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>CSS主题样式说明</title>
  <link rel="stylesheet" href="./styles/iview.css">
  <link rel="stylesheet" href="./demo.css">
</head>

<body class="pace-done">
  <div class="wrapper-content ivu-article">
    <article>
      <h1>Select 选择器</h1>
      <div class="anchor">
        <!---->
        <h2 id="概述">概述</h2>
        <!---->
        <!---->
        <!---->
        <!---->
        <a href="#概述">#</a>
      </div>
      <p>使用模拟的增强下拉选择器来代替浏览器原生的选择器。</p>
      <p>选择器支持单选、多选、搜索，以及键盘快捷操作。</p>
      <div class="ivu-alert ivu-alert-info ivu-alert-with-icon" style="margin-top: 16px;">
        <span class="ivu-alert-icon">
          <i class="ivu-icon ivu-icon-information-circled"></i>
        </span>
        <span class="ivu-alert-message">注意：非 template/render 模式下，需使用
          <code>i-select</code>、
          <code>i-option</code>。</span>
        <span class="ivu-alert-desc"></span>
        <!---->
      </div>
      <div class="anchor">
        <!---->
        <h2 id="代码示例">代码示例</h2>
        <!---->
        <!---->
        <!---->
        <!---->
        <a href="#代码示例">#</a>
      </div>
      <div class="example ivu-row" id="基础用法">
        <div class="example-demo ivu-col ivu-col-span-12">
          <div class="example-case">
            <div>
              <div class="ivu-select ivu-select-single" style="width: 200px;">
                <div class="ivu-select-selection">
                  <input type="hidden">
                  <span class="ivu-select-placeholder">请选择</span>
                  <span class="ivu-select-selected-value" style="display: none;"></span>
                  <!---->
                  <i class="ivu-icon ivu-icon-ios-close ivu-select-arrow" style="display: none;"></i>
                  <i class="ivu-icon ivu-icon-arrow-down-b ivu-select-arrow"></i>
                </div>
                <div class="ivu-select-dropdown" style="display: none;">
                  <ul class="ivu-select-not-found" style="display: none;">
                    <li>无匹配数据</li>
                  </ul>
                  <ul class="ivu-select-dropdown-list">
                    <li class="ivu-select-item">New York</li>
                    <li class="ivu-select-item">London</li>
                    <li class="ivu-select-item">Sydney</li>
                    <li class="ivu-select-item">Ottawa</li>
                    <li class="ivu-select-item">Paris</li>
                    <li class="ivu-select-item">Canberra</li>
                  </ul>
                  <ul class="ivu-select-loading" style="display: none;">加载中</ul>
                </div>
              </div>
              <span class="demo-data"></span>
            </div>
          </div>
          <header class="example-header">
            <span>
              基础用法
              <a href="#基础用法">#</a>
            </span>
          </header>
          <div class="example-desc">
            <div>
              <p>基本用法。可以使用 v-model 双向绑定数据。</p>
              <p>单选时，value 只接受字符串和数字类型，多选时，只接受数组类型，组件会自动根据
                <code>Option</code>的
                <code>value</code>来返回选中的数据。</p>
              <p>可以给
                <code>Select</code>添加 style 样式，比如宽度。</p>
              <p>在展开选择器后，可以使用键盘的
                <code>up</code>和
                <code>down</code>快速上下选择，按下
                <code>Enter</code>选择，按下
                <code>Esc</code>收起选择器。</p>
            </div>
          </div>
        </div>
        <div class="example-split"></div>
        <div class="example-code ivu-col ivu-col-span-12" style="height: 277px;">
          <div style="opacity: 1;">
            <div>
              <pre class=""><code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-title">template</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">Select</span> <span class="hljs-attribute">v-model</span>=<span class="hljs-value">"model1"</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">"width:200px"</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">v-for</span>=<span class="hljs-value">"item in cityList"</span> <span class="hljs-attribute">:value</span>=<span class="hljs-value">"item.value"</span> <span class="hljs-attribute">:key</span>=<span class="hljs-value">"item.value"</span>&gt;</span>{{ item.label }}<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">Select</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">template</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">script</span>&gt;</span><span class="javascript">
<span class="hljs-keyword">export</span> <span class="hljs-keyword">default</span> {
data () {
    <span class="hljs-keyword">return</span> {
        cityList: [
            {
                value: <span class="hljs-string">'New York'</span>,
                label: <span class="hljs-string">'New York'</span>
            },
            {
                value: <span class="hljs-string">'London'</span>,
                label: <span class="hljs-string">'London'</span>
            },
            {
                value: <span class="hljs-string">'Sydney'</span>,
                label: <span class="hljs-string">'Sydney'</span>
            },
            {
                value: <span class="hljs-string">'Ottawa'</span>,
                label: <span class="hljs-string">'Ottawa'</span>
            },
            {
                value: <span class="hljs-string">'Paris'</span>,
                label: <span class="hljs-string">'Paris'</span>
            },
            {
                value: <span class="hljs-string">'Canberra'</span>,
                label: <span class="hljs-string">'Canberra'</span>
            }
        ],
        model1: <span class="hljs-string">''</span>
    }
}
}
</span><span class="hljs-tag">&lt;/<span class="hljs-title">script</span>&gt;</span>
</code></pre>
              <span class="open-fiddle">
                <div class="ivu-tooltip">
                  <div class="ivu-tooltip-rel">
                    <i class="ivu-icon ivu-icon-code-working" style="font-size: 18px;"></i>
                  </div>
                  <!---->
                </div>
              </span>
              <span class="scale">
                <div class="ivu-tooltip">
                  <div class="ivu-tooltip-rel">
                    <i class="ivu-icon ivu-icon-qr-scanner" style="font-size: 18px;"></i>
                  </div>
                  <!---->
                </div>
              </span>
              <span class="copy">
                <div class="ivu-tooltip">
                  <div class="ivu-tooltip-rel">
                    <i class="ivu-icon ivu-icon-clipboard" style="font-size: 18px;"></i>
                    <i class="ivu-icon ivu-icon-checkmark" style="font-size: 18px; color: rgb(92, 184, 92); display: none;"></i>
                  </div>
                  <!---->
                </div>
              </span>
              <!---->
            </div>
          </div>
          <div class="example-code-more">
            <i class="ivu-icon ivu-icon-ios-arrow-down"></i>
            <i class="ivu-icon ivu-icon-ios-arrow-up" style="display: none;"></i>
            <button type="button" class="ivu-btn ivu-btn-text" style="display: none;">
              <!---->
              <!---->
              <span>Show Code</span>
            </button>
          </div>
        </div>
      </div>
      <div class="example ivu-row" id="尺寸">
        <div class="example-demo ivu-col ivu-col-span-12">
          <div class="example-case">
            <div>
              <div class="ivu-select ivu-select-single ivu-select-small" style="width: 100px;">
                <div class="ivu-select-selection">
                  <input type="hidden">
                  <span class="ivu-select-placeholder">请选择</span>
                  <span class="ivu-select-selected-value" style="display: none;"></span>
                  <!---->
                  <i class="ivu-icon ivu-icon-ios-close ivu-select-arrow" style="display: none;"></i>
                  <i class="ivu-icon ivu-icon-arrow-down-b ivu-select-arrow"></i>
                </div>
                <div class="ivu-select-dropdown" style="display: none;">
                  <ul class="ivu-select-not-found" style="display: none;">
                    <li>无匹配数据</li>
                  </ul>
                  <ul class="ivu-select-dropdown-list">
                    <li class="ivu-select-item">New York</li>
                    <li class="ivu-select-item">London</li>
                    <li class="ivu-select-item">Sydney</li>
                    <li class="ivu-select-item">Ottawa</li>
                    <li class="ivu-select-item">Paris</li>
                    <li class="ivu-select-item">Canberra</li>
                  </ul>
                  <ul class="ivu-select-loading" style="display: none;">加载中</ul>
                </div>
              </div>
              <div class="ivu-select ivu-select-single" style="width: 100px;">
                <div class="ivu-select-selection">
                  <input type="hidden">
                  <span class="ivu-select-placeholder">请选择</span>
                  <span class="ivu-select-selected-value" style="display: none;"></span>
                  <!---->
                  <i class="ivu-icon ivu-icon-ios-close ivu-select-arrow" style="display: none;"></i>
                  <i class="ivu-icon ivu-icon-arrow-down-b ivu-select-arrow"></i>
                </div>
                <div class="ivu-select-dropdown" style="display: none;">
                  <ul class="ivu-select-not-found" style="display: none;">
                    <li>无匹配数据</li>
                  </ul>
                  <ul class="ivu-select-dropdown-list">
                    <li class="ivu-select-item">New York</li>
                    <li class="ivu-select-item">London</li>
                    <li class="ivu-select-item">Sydney</li>
                    <li class="ivu-select-item">Ottawa</li>
                    <li class="ivu-select-item">Paris</li>
                    <li class="ivu-select-item">Canberra</li>
                  </ul>
                  <ul class="ivu-select-loading" style="display: none;">加载中</ul>
                </div>
              </div>
              <div class="ivu-select ivu-select-single ivu-select-large" style="width: 100px;">
                <div class="ivu-select-selection">
                  <input type="hidden">
                  <span class="ivu-select-placeholder">请选择</span>
                  <span class="ivu-select-selected-value" style="display: none;"></span>
                  <!---->
                  <i class="ivu-icon ivu-icon-ios-close ivu-select-arrow" style="display: none;"></i>
                  <i class="ivu-icon ivu-icon-arrow-down-b ivu-select-arrow"></i>
                </div>
                <div class="ivu-select-dropdown" style="display: none;">
                  <ul class="ivu-select-not-found" style="display: none;">
                    <li>无匹配数据</li>
                  </ul>
                  <ul class="ivu-select-dropdown-list">
                    <li class="ivu-select-item">New York</li>
                    <li class="ivu-select-item">London</li>
                    <li class="ivu-select-item">Sydney</li>
                    <li class="ivu-select-item">Ottawa</li>
                    <li class="ivu-select-item">Paris</li>
                    <li class="ivu-select-item">Canberra</li>
                  </ul>
                  <ul class="ivu-select-loading" style="display: none;">加载中</ul>
                </div>
              </div>
            </div>
          </div>
          <header class="example-header">
            <span>
              尺寸
              <a href="#尺寸">#</a>
            </span>
          </header>
          <div class="example-desc">
            <div>
              <p>通过设置
                <code>size</code>属性为
                <code>large</code>和
                <code>small</code>将输入框设置为大和小尺寸，不设置为默认（中）尺寸。</p>
            </div>
          </div>
        </div>
        <div class="example-split"></div>
        <div class="example-code ivu-col ivu-col-span-12" style="height: 182px;">
          <div style="opacity: 1;">
            <div>
              <pre class=""><code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-title">template</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">Select</span> <span class="hljs-attribute">v-model</span>=<span class="hljs-value">"model2"</span> <span class="hljs-attribute">size</span>=<span class="hljs-value">"small"</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">"width:100px"</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">v-for</span>=<span class="hljs-value">"item in cityList"</span> <span class="hljs-attribute">:value</span>=<span class="hljs-value">"item.value"</span> <span class="hljs-attribute">:key</span>=<span class="hljs-value">"item.value"</span>&gt;</span>{{ item.label }}<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">Select</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">Select</span> <span class="hljs-attribute">v-model</span>=<span class="hljs-value">"model3"</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">"width:100px"</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">v-for</span>=<span class="hljs-value">"item in cityList"</span> <span class="hljs-attribute">:value</span>=<span class="hljs-value">"item.value"</span> <span class="hljs-attribute">:key</span>=<span class="hljs-value">"item.value"</span>&gt;</span>{{ item.label }}<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">Select</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">Select</span> <span class="hljs-attribute">v-model</span>=<span class="hljs-value">"model4"</span> <span class="hljs-attribute">size</span>=<span class="hljs-value">"large"</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">"width:100px"</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">v-for</span>=<span class="hljs-value">"item in cityList"</span> <span class="hljs-attribute">:value</span>=<span class="hljs-value">"item.value"</span> <span class="hljs-attribute">:key</span>=<span class="hljs-value">"item.value"</span>&gt;</span>{{ item.label }}<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">Select</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">template</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">script</span>&gt;</span><span class="javascript">
<span class="hljs-keyword">export</span> <span class="hljs-keyword">default</span> {
data () {
    <span class="hljs-keyword">return</span> {
        cityList: [
            {
                value: <span class="hljs-string">'New York'</span>,
                label: <span class="hljs-string">'New York'</span>
            },
            {
                value: <span class="hljs-string">'London'</span>,
                label: <span class="hljs-string">'London'</span>
            },
            {
                value: <span class="hljs-string">'Sydney'</span>,
                label: <span class="hljs-string">'Sydney'</span>
            },
            {
                value: <span class="hljs-string">'Ottawa'</span>,
                label: <span class="hljs-string">'Ottawa'</span>
            },
            {
                value: <span class="hljs-string">'Paris'</span>,
                label: <span class="hljs-string">'Paris'</span>
            },
            {
                value: <span class="hljs-string">'Canberra'</span>,
                label: <span class="hljs-string">'Canberra'</span>
            }
        ],
        model2: <span class="hljs-string">''</span>,
        model3: <span class="hljs-string">''</span>,
        model4: <span class="hljs-string">''</span>
    }
}
}
</span><span class="hljs-tag">&lt;/<span class="hljs-title">script</span>&gt;</span>
</code></pre>
              <span class="open-fiddle">
                <div class="ivu-tooltip">
                  <div class="ivu-tooltip-rel">
                    <i class="ivu-icon ivu-icon-code-working" style="font-size: 18px;"></i>
                  </div>
                  <!---->
                </div>
              </span>
              <span class="scale">
                <div class="ivu-tooltip">
                  <div class="ivu-tooltip-rel">
                    <i class="ivu-icon ivu-icon-qr-scanner" style="font-size: 18px;"></i>
                  </div>
                  <!---->
                </div>
              </span>
              <span class="copy">
                <div class="ivu-tooltip">
                  <div class="ivu-tooltip-rel">
                    <i class="ivu-icon ivu-icon-clipboard" style="font-size: 18px;"></i>
                    <i class="ivu-icon ivu-icon-checkmark" style="font-size: 18px; color: rgb(92, 184, 92); display: none;"></i>
                  </div>
                  <!---->
                </div>
              </span>
              <!---->
            </div>
          </div>
          <div class="example-code-more">
            <i class="ivu-icon ivu-icon-ios-arrow-down"></i>
            <i class="ivu-icon ivu-icon-ios-arrow-up" style="display: none;"></i>
            <button type="button" class="ivu-btn ivu-btn-text" style="display: none;">
              <!---->
              <!---->
              <span>Show Code</span>
            </button>
          </div>
        </div>
      </div>
      <div class="example ivu-row" id="禁用">
        <div class="example-demo ivu-col ivu-col-span-12">
          <div class="example-case">
            <div>
              <div class="ivu-select ivu-select-disabled ivu-select-single" style="width: 200px;">
                <div class="ivu-select-selection">
                  <input type="hidden">
                  <span class="ivu-select-placeholder">请选择</span>
                  <span class="ivu-select-selected-value" style="display: none;"></span>
                  <!---->
                  <i class="ivu-icon ivu-icon-ios-close ivu-select-arrow" style="display: none;"></i>
                  <i class="ivu-icon ivu-icon-arrow-down-b ivu-select-arrow"></i>
                </div>
                <div class="ivu-select-dropdown" style="display: none;">
                  <ul class="ivu-select-not-found" style="display: none;">
                    <li>无匹配数据</li>
                  </ul>
                  <ul class="ivu-select-dropdown-list">
                    <li class="ivu-select-item">New York</li>
                    <li class="ivu-select-item">London</li>
                    <li class="ivu-select-item">Sydney</li>
                    <li class="ivu-select-item">Ottawa</li>
                    <li class="ivu-select-item">Paris</li>
                    <li class="ivu-select-item">Canberra</li>
                  </ul>
                  <ul class="ivu-select-loading" style="display: none;">加载中</ul>
                </div>
              </div>
              <div class="ivu-select ivu-select-single" style="width: 200px;">
                <div class="ivu-select-selection">
                  <input type="hidden">
                  <span class="ivu-select-placeholder">请选择</span>
                  <span class="ivu-select-selected-value" style="display: none;"></span>
                  <!---->
                  <i class="ivu-icon ivu-icon-ios-close ivu-select-arrow" style="display: none;"></i>
                  <i class="ivu-icon ivu-icon-arrow-down-b ivu-select-arrow"></i>
                </div>
                <div class="ivu-select-dropdown" style="display: none;">
                  <ul class="ivu-select-not-found" style="display: none;">
                    <li>无匹配数据</li>
                  </ul>
                  <ul class="ivu-select-dropdown-list">
                    <li class="ivu-select-item">New York</li>
                    <li class="ivu-select-item ivu-select-item-disabled">London</li>
                    <li class="ivu-select-item">Sydney</li>
                  </ul>
                  <ul class="ivu-select-loading" style="display: none;">加载中</ul>
                </div>
              </div>
            </div>
          </div>
          <header class="example-header">
            <span>
              禁用
              <a href="#禁用">#</a>
            </span>
          </header>
          <div class="example-desc">
            <div>
              <p>通过给
                <code>Select</code>设置属性
                <code>disabled</code>禁用整个选择器。</p>
              <p>通过给
                <code>Option</code>设置属性
                <code>disabled</code>可以禁用当前项。</p>
            </div>
          </div>
        </div>
        <div class="example-split"></div>
        <div class="example-code ivu-col ivu-col-span-12" style="height: 187px;">
          <div style="opacity: 1;">
            <div>
              <pre class=""><code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-title">template</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">Select</span> <span class="hljs-attribute">v-model</span>=<span class="hljs-value">"model5"</span> <span class="hljs-attribute">disabled</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">"width:200px"</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">v-for</span>=<span class="hljs-value">"item in cityList"</span> <span class="hljs-attribute">:value</span>=<span class="hljs-value">"item.value"</span> <span class="hljs-attribute">:key</span>=<span class="hljs-value">"item.value"</span>&gt;</span>{{ item.label }}<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">Select</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">Select</span> <span class="hljs-attribute">v-model</span>=<span class="hljs-value">"model6"</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">"width:200px"</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"beijing"</span>&gt;</span>New York<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"shanghai"</span> <span class="hljs-attribute">disabled</span>&gt;</span>London<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"shenzhen"</span>&gt;</span>Sydney<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">Select</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">template</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">script</span>&gt;</span><span class="javascript">
<span class="hljs-keyword">export</span> <span class="hljs-keyword">default</span> {
data () {
    <span class="hljs-keyword">return</span> {
        cityList: [
            {
                value: <span class="hljs-string">'New York'</span>,
                label: <span class="hljs-string">'New York'</span>
            },
            {
                value: <span class="hljs-string">'London'</span>,
                label: <span class="hljs-string">'London'</span>
            },
            {
                value: <span class="hljs-string">'Sydney'</span>,
                label: <span class="hljs-string">'Sydney'</span>
            },
            {
                value: <span class="hljs-string">'Ottawa'</span>,
                label: <span class="hljs-string">'Ottawa'</span>
            },
            {
                value: <span class="hljs-string">'Paris'</span>,
                label: <span class="hljs-string">'Paris'</span>
            },
            {
                value: <span class="hljs-string">'Canberra'</span>,
                label: <span class="hljs-string">'Canberra'</span>
            }
        ],
        model5: <span class="hljs-string">''</span>,
        model6: <span class="hljs-string">''</span>
    }
}
}
</span><span class="hljs-tag">&lt;/<span class="hljs-title">script</span>&gt;</span>
</code></pre>
              <span class="open-fiddle">
                <div class="ivu-tooltip">
                  <div class="ivu-tooltip-rel">
                    <i class="ivu-icon ivu-icon-code-working" style="font-size: 18px;"></i>
                  </div>
                  <!---->
                </div>
              </span>
              <span class="scale">
                <div class="ivu-tooltip">
                  <div class="ivu-tooltip-rel">
                    <i class="ivu-icon ivu-icon-qr-scanner" style="font-size: 18px;"></i>
                  </div>
                  <!---->
                </div>
              </span>
              <span class="copy">
                <div class="ivu-tooltip">
                  <div class="ivu-tooltip-rel">
                    <i class="ivu-icon ivu-icon-clipboard" style="font-size: 18px;"></i>
                    <i class="ivu-icon ivu-icon-checkmark" style="font-size: 18px; color: rgb(92, 184, 92); display: none;"></i>
                  </div>
                  <!---->
                </div>
              </span>
              <!---->
            </div>
          </div>
          <div class="example-code-more">
            <i class="ivu-icon ivu-icon-ios-arrow-down"></i>
            <i class="ivu-icon ivu-icon-ios-arrow-up" style="display: none;"></i>
            <button type="button" class="ivu-btn ivu-btn-text" style="display: none;">
              <!---->
              <!---->
              <span>Show Code</span>
            </button>
          </div>
        </div>
      </div>
      <div class="example ivu-row" id="可清空">
        <div class="example-demo ivu-col ivu-col-span-12">
          <div class="example-case">
            <div>
              <div class="ivu-select ivu-select-single" style="width: 200px;">
                <div class="ivu-select-selection">
                  <input type="hidden">
                  <span class="ivu-select-placeholder">请选择</span>
                  <span class="ivu-select-selected-value" style="display: none;"></span>
                  <!---->
                  <i class="ivu-icon ivu-icon-ios-close ivu-select-arrow" style="display: none;"></i>
                  <i class="ivu-icon ivu-icon-arrow-down-b ivu-select-arrow"></i>
                </div>
                <div class="ivu-select-dropdown" style="display: none;">
                  <ul class="ivu-select-not-found" style="display: none;">
                    <li>无匹配数据</li>
                  </ul>
                  <ul class="ivu-select-dropdown-list">
                    <li class="ivu-select-item">New York</li>
                    <li class="ivu-select-item">London</li>
                    <li class="ivu-select-item">Sydney</li>
                    <li class="ivu-select-item">Ottawa</li>
                    <li class="ivu-select-item">Paris</li>
                    <li class="ivu-select-item">Canberra</li>
                  </ul>
                  <ul class="ivu-select-loading" style="display: none;">加载中</ul>
                </div>
              </div>
              <span class="demo-data"></span>
            </div>
          </div>
          <header class="example-header">
            <span>
              可清空
              <a href="#可清空">#</a>
            </span>
          </header>
          <div class="example-desc">
            <div>
              <p>通过设置属性
                <code>clearable</code>可以清空已选项，仅适用于单选模式。</p>
            </div>
          </div>
        </div>
        <div class="example-split"></div>
        <div class="example-code ivu-col ivu-col-span-12" style="height: 160px;">
          <div style="opacity: 1;">
            <div>
              <pre class=""><code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-title">template</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">Select</span> <span class="hljs-attribute">v-model</span>=<span class="hljs-value">"model8"</span> <span class="hljs-attribute">clearable</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">"width:200px"</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">v-for</span>=<span class="hljs-value">"item in cityList"</span> <span class="hljs-attribute">:value</span>=<span class="hljs-value">"item.value"</span> <span class="hljs-attribute">:key</span>=<span class="hljs-value">"item.value"</span>&gt;</span>{{ item.label }}<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">Select</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">template</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">script</span>&gt;</span><span class="javascript">
<span class="hljs-keyword">export</span> <span class="hljs-keyword">default</span> {
data () {
    <span class="hljs-keyword">return</span> {
        cityList: [
            {
                value: <span class="hljs-string">'New York'</span>,
                label: <span class="hljs-string">'New York'</span>
            },
            {
                value: <span class="hljs-string">'London'</span>,
                label: <span class="hljs-string">'London'</span>
            },
            {
                value: <span class="hljs-string">'Sydney'</span>,
                label: <span class="hljs-string">'Sydney'</span>
            },
            {
                value: <span class="hljs-string">'Ottawa'</span>,
                label: <span class="hljs-string">'Ottawa'</span>
            },
            {
                value: <span class="hljs-string">'Paris'</span>,
                label: <span class="hljs-string">'Paris'</span>
            },
            {
                value: <span class="hljs-string">'Canberra'</span>,
                label: <span class="hljs-string">'Canberra'</span>
            }
        ],
        model8: <span class="hljs-string">''</span>
    }
}
}
</span><span class="hljs-tag">&lt;/<span class="hljs-title">script</span>&gt;</span>
</code></pre>
              <span class="open-fiddle">
                <div class="ivu-tooltip">
                  <div class="ivu-tooltip-rel">
                    <i class="ivu-icon ivu-icon-code-working" style="font-size: 18px;"></i>
                  </div>
                  <!---->
                </div>
              </span>
              <span class="scale">
                <div class="ivu-tooltip">
                  <div class="ivu-tooltip-rel">
                    <i class="ivu-icon ivu-icon-qr-scanner" style="font-size: 18px;"></i>
                  </div>
                  <!---->
                </div>
              </span>
              <span class="copy">
                <div class="ivu-tooltip">
                  <div class="ivu-tooltip-rel">
                    <i class="ivu-icon ivu-icon-clipboard" style="font-size: 18px;"></i>
                    <i class="ivu-icon ivu-icon-checkmark" style="font-size: 18px; color: rgb(92, 184, 92); display: none;"></i>
                  </div>
                  <!---->
                </div>
              </span>
              <!---->
            </div>
          </div>
          <div class="example-code-more">
            <i class="ivu-icon ivu-icon-ios-arrow-down"></i>
            <i class="ivu-icon ivu-icon-ios-arrow-up" style="display: none;"></i>
            <button type="button" class="ivu-btn ivu-btn-text" style="display: none;">
              <!---->
              <!---->
              <span>Show Code</span>
            </button>
          </div>
        </div>
      </div>
      <div class="example ivu-row" id="分组">
        <div class="example-demo ivu-col ivu-col-span-12">
          <div class="example-case">
            <div>
              <div class="ivu-select ivu-select-single" style="width: 200px;">
                <div class="ivu-select-selection">
                  <input type="hidden">
                  <span class="ivu-select-placeholder">请选择</span>
                  <span class="ivu-select-selected-value" style="display: none;"></span>
                  <!---->
                  <i class="ivu-icon ivu-icon-ios-close ivu-select-arrow" style="display: none;"></i>
                  <i class="ivu-icon ivu-icon-arrow-down-b ivu-select-arrow"></i>
                </div>
                <div class="ivu-select-dropdown" style="display: none;">
                  <ul class="ivu-select-not-found" style="display: none;">
                    <li>无匹配数据</li>
                  </ul>
                  <ul class="ivu-select-dropdown-list">
                    <li class="ivu-select-group-wrap">
                      <div class="ivu-select-group-title">Hot Cities</div>
                      <ul>
                        <li class="ivu-select-group">
                          <li class="ivu-select-item">New York</li>
                          <li class="ivu-select-item">London</li>
                          <li class="ivu-select-item">Sydney</li>
                        </li>
                      </ul>
                    </li>
                    <li class="ivu-select-group-wrap">
                      <div class="ivu-select-group-title">Other Cities</div>
                      <ul>
                        <li class="ivu-select-group">
                          <li class="ivu-select-item">Ottawa</li>
                          <li class="ivu-select-item">Paris</li>
                          <li class="ivu-select-item">Canberra</li>
                        </li>
                      </ul>
                    </li>
                  </ul>
                  <ul class="ivu-select-loading" style="display: none;">加载中</ul>
                </div>
              </div>
              <span class="demo-data"></span>
            </div>
          </div>
          <header class="example-header">
            <span>
              分组
              <a href="#分组">#</a>
            </span>
          </header>
          <div class="example-desc">
            <div>
              <p>使用
                <code>OptionGroup</code>可将选项进行分组。</p>
            </div>
          </div>
        </div>
        <div class="example-split"></div>
        <div class="example-code ivu-col ivu-col-span-12" style="height: 160px;">
          <div style="opacity: 1;">
            <div>
              <pre class=""><code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-title">template</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">Select</span> <span class="hljs-attribute">v-model</span>=<span class="hljs-value">"model7"</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">"width:200px"</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">OptionGroup</span> <span class="hljs-attribute">label</span>=<span class="hljs-value">"Hot Cities"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">v-for</span>=<span class="hljs-value">"item in cityList1"</span> <span class="hljs-attribute">:value</span>=<span class="hljs-value">"item.value"</span> <span class="hljs-attribute">:key</span>=<span class="hljs-value">"item.value"</span>&gt;</span>{{ item.label }}<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">OptionGroup</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">OptionGroup</span> <span class="hljs-attribute">label</span>=<span class="hljs-value">"Other Cities"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">v-for</span>=<span class="hljs-value">"item in cityList2"</span> <span class="hljs-attribute">:value</span>=<span class="hljs-value">"item.value"</span> <span class="hljs-attribute">:key</span>=<span class="hljs-value">"item.value"</span>&gt;</span>{{ item.label }}<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">OptionGroup</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">Select</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">template</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">script</span>&gt;</span><span class="javascript">
<span class="hljs-keyword">export</span> <span class="hljs-keyword">default</span> {
data () {
    <span class="hljs-keyword">return</span> {
        cityList: [
            {
                value: <span class="hljs-string">'New York'</span>,
                label: <span class="hljs-string">'New York'</span>
            },
            {
                value: <span class="hljs-string">'London'</span>,
                label: <span class="hljs-string">'London'</span>
            },
            {
                value: <span class="hljs-string">'Sydney'</span>,
                label: <span class="hljs-string">'Sydney'</span>
            },
            {
                value: <span class="hljs-string">'Ottawa'</span>,
                label: <span class="hljs-string">'Ottawa'</span>
            },
            {
                value: <span class="hljs-string">'Paris'</span>,
                label: <span class="hljs-string">'Paris'</span>
            },
            {
                value: <span class="hljs-string">'Canberra'</span>,
                label: <span class="hljs-string">'Canberra'</span>
            }
        ],
        cityList1: [
            {
                value: <span class="hljs-string">'New York'</span>,
                label: <span class="hljs-string">'New York'</span>
            },
            {
                value: <span class="hljs-string">'London'</span>,
                label: <span class="hljs-string">'London'</span>
            },
            {
                value: <span class="hljs-string">'Sydney'</span>,
                label: <span class="hljs-string">'Sydney'</span>
            }
        ],
        cityList2: [
            {
                value: <span class="hljs-string">'Ottawa'</span>,
                label: <span class="hljs-string">'Ottawa'</span>
            },
            {
                value: <span class="hljs-string">'Paris'</span>,
                label: <span class="hljs-string">'Paris'</span>
            },
            {
                value: <span class="hljs-string">'Canberra'</span>,
                label: <span class="hljs-string">'Canberra'</span>
            }
        ],
        model7: <span class="hljs-string">''</span>
    }
}
}
</span><span class="hljs-tag">&lt;/<span class="hljs-title">script</span>&gt;</span>
</code></pre>
              <span class="open-fiddle">
                <div class="ivu-tooltip">
                  <div class="ivu-tooltip-rel">
                    <i class="ivu-icon ivu-icon-code-working" style="font-size: 18px;"></i>
                  </div>
                  <!---->
                </div>
              </span>
              <span class="scale">
                <div class="ivu-tooltip">
                  <div class="ivu-tooltip-rel">
                    <i class="ivu-icon ivu-icon-qr-scanner" style="font-size: 18px;"></i>
                  </div>
                  <!---->
                </div>
              </span>
              <span class="copy">
                <div class="ivu-tooltip">
                  <div class="ivu-tooltip-rel">
                    <i class="ivu-icon ivu-icon-clipboard" style="font-size: 18px;"></i>
                    <i class="ivu-icon ivu-icon-checkmark" style="font-size: 18px; color: rgb(92, 184, 92); display: none;"></i>
                  </div>
                  <!---->
                </div>
              </span>
              <!---->
            </div>
          </div>
          <div class="example-code-more">
            <i class="ivu-icon ivu-icon-ios-arrow-down"></i>
            <i class="ivu-icon ivu-icon-ios-arrow-up" style="display: none;"></i>
            <button type="button" class="ivu-btn ivu-btn-text" style="display: none;">
              <!---->
              <!---->
              <span>Show Code</span>
            </button>
          </div>
        </div>
      </div>
      <div class="example ivu-row" id="自定义模板">
        <div class="example-demo ivu-col ivu-col-span-12">
          <div class="example-case">
            <div>
              <div class="ivu-select ivu-select-single" style="width: 200px;">
                <div class="ivu-select-selection">
                  <input type="hidden">
                  <span class="ivu-select-placeholder">请选择</span>
                  <span class="ivu-select-selected-value" style="display: none;"></span>
                  <!---->
                  <i class="ivu-icon ivu-icon-ios-close ivu-select-arrow" style="display: none;"></i>
                  <i class="ivu-icon ivu-icon-arrow-down-b ivu-select-arrow"></i>
                </div>
                <div class="ivu-select-dropdown" style="width: 200px; transform-origin: center top 0px; display: none;">
                  <ul class="ivu-select-not-found" style="display: none;">
                    <li>无匹配数据</li>
                  </ul>
                  <ul class="ivu-select-dropdown-list">
                    <li class="ivu-select-item">
                      <span>New York</span>
                      <span style="float: right; color: rgb(204, 204, 204);">America</span>
                    </li>
                    <li class="ivu-select-item">
                      <span>London</span>
                      <span style="float: right; color: rgb(204, 204, 204);">U.K.</span>
                    </li>
                    <li class="ivu-select-item">
                      <span>Sydney</span>
                      <span style="float: right; color: rgb(204, 204, 204);">Australian</span>
                    </li>
                  </ul>
                  <ul class="ivu-select-loading" style="display: none;">加载中</ul>
                </div>
              </div>
              <span class="demo-data"></span>
            </div>
          </div>
          <header class="example-header">
            <span>
              自定义模板
              <a href="#自定义模板">#</a>
            </span>
          </header>
          <div class="example-desc">
            <div>
              <p>对选项内容可以进行自定义。注意在
                <code>Option</code>中使用
                <code>label</code>属性，可以让选择器优先读取该属性的值以显示，否则选中时显示的内容会和自定义的一样，这往往不是我们想要的。</p>
              <p>对于选项显示内容的逻辑：优先显示 slot 内容，如果没有定义 slot，则显示
                <code>label</code>的值，如果没有设置 label，则显示
                <code>value</code>的值。</p>
            </div>
          </div>
        </div>
        <div class="example-split"></div>
        <div class="example-code ivu-col ivu-col-span-12" style="height: 241px;">
          <div style="opacity: 1;">
            <div>
              <pre class=""><code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-title">template</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">Select</span> <span class="hljs-attribute">v-model</span>=<span class="hljs-value">"model9"</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">"width:200px"</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"New York"</span> <span class="hljs-attribute">label</span>=<span class="hljs-value">"New York"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">span</span>&gt;</span>New York<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">"float:right;color:#ccc"</span>&gt;</span>America<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"London"</span> <span class="hljs-attribute">label</span>=<span class="hljs-value">"London"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">span</span>&gt;</span>London<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">"float:right;color:#ccc"</span>&gt;</span>U.K.<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"Sydney"</span> <span class="hljs-attribute">label</span>=<span class="hljs-value">"Sydney"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">span</span>&gt;</span>Sydney<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">"float:right;color:#ccc"</span>&gt;</span>Australian<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">Select</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">template</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">script</span>&gt;</span><span class="javascript">
<span class="hljs-keyword">export</span> <span class="hljs-keyword">default</span> {
data () {
    <span class="hljs-keyword">return</span> {
        model9: <span class="hljs-string">''</span>
    }
}
}
</span><span class="hljs-tag">&lt;/<span class="hljs-title">script</span>&gt;</span>
</code></pre>
              <span class="open-fiddle">
                <div class="ivu-tooltip">
                  <div class="ivu-tooltip-rel">
                    <i class="ivu-icon ivu-icon-code-working" style="font-size: 18px;"></i>
                  </div>
                  <!---->
                </div>
              </span>
              <span class="scale">
                <div class="ivu-tooltip">
                  <div class="ivu-tooltip-rel">
                    <i class="ivu-icon ivu-icon-qr-scanner" style="font-size: 18px;"></i>
                  </div>
                  <!---->
                </div>
              </span>
              <span class="copy">
                <div class="ivu-tooltip">
                  <div class="ivu-tooltip-rel">
                    <i class="ivu-icon ivu-icon-clipboard" style="font-size: 18px;"></i>
                    <i class="ivu-icon ivu-icon-checkmark" style="font-size: 18px; color: rgb(92, 184, 92); display: none;"></i>
                  </div>
                  <!---->
                </div>
              </span>
              <!---->
            </div>
          </div>
          <div class="example-code-more">
            <i class="ivu-icon ivu-icon-ios-arrow-down"></i>
            <i class="ivu-icon ivu-icon-ios-arrow-up" style="display: none;"></i>
            <button type="button" class="ivu-btn ivu-btn-text" style="display: none;">
              <!---->
              <!---->
              <span>Show Code</span>
            </button>
          </div>
        </div>
      </div>
      <div class="example ivu-row" id="多选">
        <div class="example-demo ivu-col ivu-col-span-12">
          <div class="example-case">
            <div>
              <p class="demo-data">[]</p>
              <div class="ivu-select ivu-select-multiple" style="width: 260px;">
                <div class="ivu-select-selection">
                  <input type="hidden">
                  <span class="ivu-select-placeholder">请选择</span>
                  <span class="ivu-select-selected-value" style="display: none;"></span>
                  <!---->
                  <i class="ivu-icon ivu-icon-ios-close ivu-select-arrow" style="display: none;"></i>
                  <i class="ivu-icon ivu-icon-arrow-down-b ivu-select-arrow"></i>
                </div>
                <div class="ivu-select-dropdown" style="width: 260px; transform-origin: center top 0px; display: none;">
                  <ul class="ivu-select-not-found" style="display: none;">
                    <li>无匹配数据</li>
                  </ul>
                  <ul class="ivu-select-dropdown-list">
                    <li class="ivu-select-item">New York</li>
                    <li class="ivu-select-item">London</li>
                    <li class="ivu-select-item">Sydney</li>
                    <li class="ivu-select-item">Ottawa</li>
                    <li class="ivu-select-item">Paris</li>
                    <li class="ivu-select-item">Canberra</li>
                  </ul>
                  <ul class="ivu-select-loading" style="display: none;">加载中</ul>
                </div>
              </div>
            </div>
          </div>
          <header class="example-header">
            <span>
              多选
              <a href="#多选">#</a>
            </span>
          </header>
          <div class="example-desc">
            <div>
              <p>通过设置属性
                <code>multiple</code>可以开启多选模式。多选模式下，model 接受数组类型的数据，所返回的也是数组。</p>
            </div>
          </div>
        </div>
        <div class="example-split"></div>
        <div class="example-code ivu-col ivu-col-span-12" style="height: 209px;">
          <div style="opacity: 1;">
            <div>
              <pre class=""><code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-title">template</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">Select</span> <span class="hljs-attribute">v-model</span>=<span class="hljs-value">"model10"</span> <span class="hljs-attribute">multiple</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">"width:260px"</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">v-for</span>=<span class="hljs-value">"item in cityList"</span> <span class="hljs-attribute">:value</span>=<span class="hljs-value">"item.value"</span> <span class="hljs-attribute">:key</span>=<span class="hljs-value">"item.value"</span>&gt;</span>{{ item.label }}<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">Select</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">template</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">script</span>&gt;</span><span class="javascript">
<span class="hljs-keyword">export</span> <span class="hljs-keyword">default</span> {
data () {
    <span class="hljs-keyword">return</span> {
        cityList: [
            {
                value: <span class="hljs-string">'New York'</span>,
                label: <span class="hljs-string">'New York'</span>
            },
            {
                value: <span class="hljs-string">'London'</span>,
                label: <span class="hljs-string">'London'</span>
            },
            {
                value: <span class="hljs-string">'Sydney'</span>,
                label: <span class="hljs-string">'Sydney'</span>
            },
            {
                value: <span class="hljs-string">'Ottawa'</span>,
                label: <span class="hljs-string">'Ottawa'</span>
            },
            {
                value: <span class="hljs-string">'Paris'</span>,
                label: <span class="hljs-string">'Paris'</span>
            },
            {
                value: <span class="hljs-string">'Canberra'</span>,
                label: <span class="hljs-string">'Canberra'</span>
            }
        ],
        model10: []
    }
}
}
</span><span class="hljs-tag">&lt;/<span class="hljs-title">script</span>&gt;</span>
</code></pre>
              <span class="open-fiddle">
                <div class="ivu-tooltip">
                  <div class="ivu-tooltip-rel">
                    <i class="ivu-icon ivu-icon-code-working" style="font-size: 18px;"></i>
                  </div>
                  <!---->
                </div>
              </span>
              <span class="scale">
                <div class="ivu-tooltip">
                  <div class="ivu-tooltip-rel">
                    <i class="ivu-icon ivu-icon-qr-scanner" style="font-size: 18px;"></i>
                  </div>
                  <!---->
                </div>
              </span>
              <span class="copy">
                <div class="ivu-tooltip">
                  <div class="ivu-tooltip-rel">
                    <i class="ivu-icon ivu-icon-clipboard" style="font-size: 18px;"></i>
                    <i class="ivu-icon ivu-icon-checkmark" style="font-size: 18px; color: rgb(92, 184, 92); display: none;"></i>
                  </div>
                  <!---->
                </div>
              </span>
              <!---->
            </div>
          </div>
          <div class="example-code-more">
            <i class="ivu-icon ivu-icon-ios-arrow-down"></i>
            <i class="ivu-icon ivu-icon-ios-arrow-up" style="display: none;"></i>
            <button type="button" class="ivu-btn ivu-btn-text" style="display: none;">
              <!---->
              <!---->
              <span>Show Code</span>
            </button>
          </div>
        </div>
      </div>
      <div class="example ivu-row" id="可搜索">
        <div class="example-demo ivu-col ivu-col-span-12">
          <div class="example-case">
            <div>
              <div class="ivu-row">
                <div class="ivu-col ivu-col-span-12" style="padding-right: 10px;">
                  <div class="ivu-select ivu-select-single">
                    <div class="ivu-select-selection">
                      <input type="hidden">
                      <span class="ivu-select-placeholder" style="display: none;">请选择</span>
                      <span class="ivu-select-selected-value" style="display: none;"></span>
                      <input type="text" placeholder="请选择" autocomplete="off" spellcheck="false" class="ivu-select-input">
                      <i class="ivu-icon ivu-icon-ios-close ivu-select-arrow" style="display: none;"></i>
                      <i class="ivu-icon ivu-icon-arrow-down-b ivu-select-arrow"></i>
                    </div>
                    <div class="ivu-select-dropdown" style="display: none;">
                      <ul class="ivu-select-not-found" style="display: none;">
                        <li>无匹配数据</li>
                      </ul>
                      <ul class="ivu-select-dropdown-list">
                        <li class="ivu-select-item">New York</li>
                        <li class="ivu-select-item">London</li>
                        <li class="ivu-select-item">Sydney</li>
                        <li class="ivu-select-item">Ottawa</li>
                        <li class="ivu-select-item">Paris</li>
                        <li class="ivu-select-item">Canberra</li>
                      </ul>
                      <ul class="ivu-select-loading" style="display: none;">加载中</ul>
                    </div>
                  </div>
                </div>
                <div class="ivu-col ivu-col-span-12">
                  <div class="ivu-select ivu-select-multiple">
                    <div class="ivu-select-selection">
                      <input type="hidden">
                      <span class="ivu-select-placeholder" style="display: none;">请选择</span>
                      <span class="ivu-select-selected-value" style="display: none;"></span>
                      <input type="text" placeholder="请选择" autocomplete="off" spellcheck="false" class="ivu-select-input"
                        style="width: 100%;">
                      <i class="ivu-icon ivu-icon-ios-close ivu-select-arrow" style="display: none;"></i>
                      <i class="ivu-icon ivu-icon-arrow-down-b ivu-select-arrow"></i>
                    </div>
                    <div class="ivu-select-dropdown" style="display: none;">
                      <ul class="ivu-select-not-found" style="display: none;">
                        <li>无匹配数据</li>
                      </ul>
                      <ul class="ivu-select-dropdown-list">
                        <li class="ivu-select-item">New York</li>
                        <li class="ivu-select-item">London</li>
                        <li class="ivu-select-item">Sydney</li>
                        <li class="ivu-select-item">Ottawa</li>
                        <li class="ivu-select-item">Paris</li>
                        <li class="ivu-select-item">Canberra</li>
                      </ul>
                      <ul class="ivu-select-loading" style="display: none;">加载中</ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <header class="example-header">
            <span>
              可搜索
              <a href="#可搜索">#</a>
            </span>
          </header>
          <div class="example-desc">
            <div>
              <p>通过设置属性
                <code>filterable</code>可以开启搜索模式。单选和多选都支持搜索模式。多选搜索时，可以使用键盘
                <code>Delete</code>快捷删除最后一个已选项。</p>
            </div>
          </div>
        </div>
        <div class="example-split"></div>
        <div class="example-code ivu-col ivu-col-span-12" style="height: 182px;">
          <div style="opacity: 1;">
            <div>
              <pre class=""><code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-title">template</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">Row</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">Col</span> <span class="hljs-attribute">span</span>=<span class="hljs-value">"12"</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">"padding-right:10px"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Select</span> <span class="hljs-attribute">v-model</span>=<span class="hljs-value">"model11"</span> <span class="hljs-attribute">filterable</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">v-for</span>=<span class="hljs-value">"item in cityList"</span> <span class="hljs-attribute">:value</span>=<span class="hljs-value">"item.value"</span> <span class="hljs-attribute">:key</span>=<span class="hljs-value">"item.value"</span>&gt;</span>{{ item.label }}<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">Select</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">Col</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">Col</span> <span class="hljs-attribute">span</span>=<span class="hljs-value">"12"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Select</span> <span class="hljs-attribute">v-model</span>=<span class="hljs-value">"model12"</span> <span class="hljs-attribute">filterable</span> <span class="hljs-attribute">multiple</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">v-for</span>=<span class="hljs-value">"item in cityList"</span> <span class="hljs-attribute">:value</span>=<span class="hljs-value">"item.value"</span> <span class="hljs-attribute">:key</span>=<span class="hljs-value">"item.value"</span>&gt;</span>{{ item.label }}<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">Select</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">Col</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">Row</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">template</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">script</span>&gt;</span><span class="javascript">
<span class="hljs-keyword">export</span> <span class="hljs-keyword">default</span> {
data () {
    <span class="hljs-keyword">return</span> {
        cityList: [
            {
                value: <span class="hljs-string">'New York'</span>,
                label: <span class="hljs-string">'New York'</span>
            },
            {
                value: <span class="hljs-string">'London'</span>,
                label: <span class="hljs-string">'London'</span>
            },
            {
                value: <span class="hljs-string">'Sydney'</span>,
                label: <span class="hljs-string">'Sydney'</span>
            },
            {
                value: <span class="hljs-string">'Ottawa'</span>,
                label: <span class="hljs-string">'Ottawa'</span>
            },
            {
                value: <span class="hljs-string">'Paris'</span>,
                label: <span class="hljs-string">'Paris'</span>
            },
            {
                value: <span class="hljs-string">'Canberra'</span>,
                label: <span class="hljs-string">'Canberra'</span>
            }
        ],
        model11: <span class="hljs-string">''</span>,
        model12: []
    }
}
}
</span><span class="hljs-tag">&lt;/<span class="hljs-title">script</span>&gt;</span>
</code></pre>
              <span class="open-fiddle">
                <div class="ivu-tooltip">
                  <div class="ivu-tooltip-rel">
                    <i class="ivu-icon ivu-icon-code-working" style="font-size: 18px;"></i>
                  </div>
                  <!---->
                </div>
              </span>
              <span class="scale">
                <div class="ivu-tooltip">
                  <div class="ivu-tooltip-rel">
                    <i class="ivu-icon ivu-icon-qr-scanner" style="font-size: 18px;"></i>
                  </div>
                  <!---->
                </div>
              </span>
              <span class="copy">
                <div class="ivu-tooltip">
                  <div class="ivu-tooltip-rel">
                    <i class="ivu-icon ivu-icon-clipboard" style="font-size: 18px;"></i>
                    <i class="ivu-icon ivu-icon-checkmark" style="font-size: 18px; color: rgb(92, 184, 92); display: none;"></i>
                  </div>
                  <!---->
                </div>
              </span>
              <!---->
            </div>
          </div>
          <div class="example-code-more">
            <i class="ivu-icon ivu-icon-ios-arrow-down"></i>
            <i class="ivu-icon ivu-icon-ios-arrow-up" style="display: none;"></i>
            <button type="button" class="ivu-btn ivu-btn-text" style="display: none;">
              <!---->
              <!---->
              <span>Show Code</span>
            </button>
          </div>
        </div>
      </div>
      <div class="example ivu-row" id="远程搜索">
        <div class="example-demo ivu-col ivu-col-span-12">
          <div class="example-case">
            <div>
              <div class="ivu-row">
                <div class="ivu-col ivu-col-span-12" style="padding-right: 10px;">
                  <div class="ivu-select ivu-select-single">
                    <div class="ivu-select-selection">
                      <input type="hidden">
                      <span class="ivu-select-placeholder" style="display: none;">请选择</span>
                      <span class="ivu-select-selected-value" style="display: none;"></span>
                      <input type="text" placeholder="请选择" autocomplete="off" spellcheck="false" class="ivu-select-input">
                      <i class="ivu-icon ivu-icon-ios-close ivu-select-arrow" style="display: none;"></i>
                      <!---->
                    </div>
                    <div class="ivu-select-dropdown" style="display: none;">
                      <ul class="ivu-select-not-found">
                        <li>无匹配数据</li>
                      </ul>
                      <ul class="ivu-select-dropdown-list"></ul>
                      <ul class="ivu-select-loading" style="display: none;">加载中</ul>
                    </div>
                  </div>
                </div>
                <div class="ivu-col ivu-col-span-12">
                  <div class="ivu-select ivu-select-multiple">
                    <div class="ivu-select-selection">
                      <input type="hidden">
                      <span class="ivu-select-placeholder" style="display: none;">请选择</span>
                      <span class="ivu-select-selected-value" style="display: none;"></span>
                      <input type="text" placeholder="请选择" autocomplete="off" spellcheck="false" class="ivu-select-input"
                        style="width: 100%;">
                      <i class="ivu-icon ivu-icon-ios-close ivu-select-arrow" style="display: none;"></i>
                      <!---->
                    </div>
                    <div class="ivu-select-dropdown" style="display: none;">
                      <ul class="ivu-select-not-found">
                        <li>无匹配数据</li>
                      </ul>
                      <ul class="ivu-select-dropdown-list"></ul>
                      <ul class="ivu-select-loading" style="display: none;">加载中</ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <header class="example-header">
            <span>
              远程搜索
              <a href="#远程搜索">#</a>
            </span>
          </header>
          <div class="example-desc">
            <div>
              <p>远程搜索需同时设置
                <code>filterable</code>、
                <code>remote</code>、
                <code>remote-method</code>、
                <code>loading</code> 四个 props，其中 loading 用于控制是否正在搜索中，remote-method 是远程搜索的方法。</p>
              <p>注意：需要给 Option 设置 key。</p>
              <p>设置初始显示值，需设置
                <code>label</code> 属性。</p>
              <p>本例为美国州名，尝试输入一些字母。</p>
            </div>
          </div>
        </div>
        <div class="example-split"></div>
        <div class="example-code ivu-col ivu-col-span-12" style="height: 273px;">
          <div style="opacity: 1;">
            <div>
              <pre class=""><code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-title">template</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">Row</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">Col</span> <span class="hljs-attribute">span</span>=<span class="hljs-value">"12"</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">"padding-right:10px"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Select</span>
        <span class="hljs-attribute">v-model</span>=<span class="hljs-value">"model13"</span>
        <span class="hljs-attribute">filterable</span>
        <span class="hljs-attribute">remote</span>
        <span class="hljs-attribute">:remote-method</span>=<span class="hljs-value">"remoteMethod1"</span>
        <span class="hljs-attribute">:loading</span>=<span class="hljs-value">"loading1"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">v-for</span>=<span class="hljs-value">"(option, index) in options1"</span> <span class="hljs-attribute">:value</span>=<span class="hljs-value">"option.value"</span> <span class="hljs-attribute">:key</span>=<span class="hljs-value">"index"</span>&gt;</span>{{option.label}}<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">Select</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">Col</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">Col</span> <span class="hljs-attribute">span</span>=<span class="hljs-value">"12"</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">Select</span>
    <span class="hljs-attribute">v-model</span>=<span class="hljs-value">"model14"</span>
    <span class="hljs-attribute">multiple</span>
    <span class="hljs-attribute">filterable</span>
    <span class="hljs-attribute">remote</span>
    <span class="hljs-attribute">:remote-method</span>=<span class="hljs-value">"remoteMethod2"</span>
    <span class="hljs-attribute">:loading</span>=<span class="hljs-value">"loading2"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">v-for</span>=<span class="hljs-value">"(option, index) in options2"</span> <span class="hljs-attribute">:value</span>=<span class="hljs-value">"option.value"</span> <span class="hljs-attribute">:key</span>=<span class="hljs-value">"index"</span>&gt;</span>{{option.label}}<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">Select</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">Col</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">Row</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">template</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">script</span>&gt;</span><span class="javascript">
<span class="hljs-keyword">export</span> <span class="hljs-keyword">default</span> {
data () {
    <span class="hljs-keyword">return</span> {
        model13: <span class="hljs-string">''</span>,
        loading1: <span class="hljs-literal">false</span>,
        options1: [],
        model14: [],
        loading2: <span class="hljs-literal">false</span>,
        options2: [],
        list: [<span class="hljs-string">'Alabama'</span>, <span class="hljs-string">'Alaska'</span>, <span class="hljs-string">'Arizona'</span>, <span class="hljs-string">'Arkansas'</span>, <span class="hljs-string">'California'</span>, <span class="hljs-string">'Colorado'</span>, <span class="hljs-string">'Connecticut'</span>, <span class="hljs-string">'Delaware'</span>, <span class="hljs-string">'Florida'</span>, <span class="hljs-string">'Georgia'</span>, <span class="hljs-string">'Hawaii'</span>, <span class="hljs-string">'Idaho'</span>, <span class="hljs-string">'Illinois'</span>, <span class="hljs-string">'Indiana'</span>, <span class="hljs-string">'Iowa'</span>, <span class="hljs-string">'Kansas'</span>, <span class="hljs-string">'Kentucky'</span>, <span class="hljs-string">'Louisiana'</span>, <span class="hljs-string">'Maine'</span>, <span class="hljs-string">'Maryland'</span>, <span class="hljs-string">'Massachusetts'</span>, <span class="hljs-string">'Michigan'</span>, <span class="hljs-string">'Minnesota'</span>, <span class="hljs-string">'Mississippi'</span>, <span class="hljs-string">'Missouri'</span>, <span class="hljs-string">'Montana'</span>, <span class="hljs-string">'Nebraska'</span>, <span class="hljs-string">'Nevada'</span>, <span class="hljs-string">'New hampshire'</span>, <span class="hljs-string">'New jersey'</span>, <span class="hljs-string">'New mexico'</span>, <span class="hljs-string">'New york'</span>, <span class="hljs-string">'North carolina'</span>, <span class="hljs-string">'North dakota'</span>, <span class="hljs-string">'Ohio'</span>, <span class="hljs-string">'Oklahoma'</span>, <span class="hljs-string">'Oregon'</span>, <span class="hljs-string">'Pennsylvania'</span>, <span class="hljs-string">'Rhode island'</span>, <span class="hljs-string">'South carolina'</span>, <span class="hljs-string">'South dakota'</span>, <span class="hljs-string">'Tennessee'</span>, <span class="hljs-string">'Texas'</span>, <span class="hljs-string">'Utah'</span>, <span class="hljs-string">'Vermont'</span>, <span class="hljs-string">'Virginia'</span>, <span class="hljs-string">'Washington'</span>, <span class="hljs-string">'West virginia'</span>, <span class="hljs-string">'Wisconsin'</span>, <span class="hljs-string">'Wyoming'</span>]
    }
},
methods: {
    remoteMethod1 (query) {
        <span class="hljs-keyword">if</span> (query !== <span class="hljs-string">''</span>) {
            <span class="hljs-keyword">this</span>.loading1 = <span class="hljs-literal">true</span>;
            setTimeout(() =&gt; {
                <span class="hljs-keyword">this</span>.loading1 = <span class="hljs-literal">false</span>;
                <span class="hljs-keyword">const</span> list = <span class="hljs-keyword">this</span>.list.map(item =&gt; {
                    <span class="hljs-keyword">return</span> {
                        value: item,
                        label: item
                    };
                });
                <span class="hljs-keyword">this</span>.options1 = list.filter(item =&gt; item.label.toLowerCase().indexOf(query.toLowerCase()) &gt; -<span class="hljs-number">1</span>);
            }, <span class="hljs-number">200</span>);
        } <span class="hljs-keyword">else</span> {
            <span class="hljs-keyword">this</span>.options1 = [];
        }
    },
    remoteMethod2 (query) {
        <span class="hljs-keyword">if</span> (query !== <span class="hljs-string">''</span>) {
            <span class="hljs-keyword">this</span>.loading2 = <span class="hljs-literal">true</span>;
            setTimeout(() =&gt; {
                <span class="hljs-keyword">this</span>.loading2 = <span class="hljs-literal">false</span>;
                <span class="hljs-keyword">const</span> list = <span class="hljs-keyword">this</span>.list.map(item =&gt; {
                    <span class="hljs-keyword">return</span> {
                        value: item,
                        label: item
                    };
                });
                <span class="hljs-keyword">this</span>.options2 = list.filter(item =&gt; item.label.toLowerCase().indexOf(query.toLowerCase()) &gt; -<span class="hljs-number">1</span>);
            }, <span class="hljs-number">200</span>);
        } <span class="hljs-keyword">else</span> {
            <span class="hljs-keyword">this</span>.options2 = [];
        }
    }
}
}
</span><span class="hljs-tag">&lt;/<span class="hljs-title">script</span>&gt;</span>
</code></pre>
              <span class="open-fiddle">
                <div class="ivu-tooltip">
                  <div class="ivu-tooltip-rel">
                    <i class="ivu-icon ivu-icon-code-working" style="font-size: 18px;"></i>
                  </div>
                  <!---->
                </div>
              </span>
              <span class="scale">
                <div class="ivu-tooltip">
                  <div class="ivu-tooltip-rel">
                    <i class="ivu-icon ivu-icon-qr-scanner" style="font-size: 18px;"></i>
                  </div>
                  <!---->
                </div>
              </span>
              <span class="copy">
                <div class="ivu-tooltip">
                  <div class="ivu-tooltip-rel">
                    <i class="ivu-icon ivu-icon-clipboard" style="font-size: 18px;"></i>
                    <i class="ivu-icon ivu-icon-checkmark" style="font-size: 18px; color: rgb(92, 184, 92); display: none;"></i>
                  </div>
                  <!---->
                </div>
              </span>
              <!---->
            </div>
          </div>
          <div class="example-code-more">
            <i class="ivu-icon ivu-icon-ios-arrow-down"></i>
            <i class="ivu-icon ivu-icon-ios-arrow-up" style="display: none;"></i>
            <button type="button" class="ivu-btn ivu-btn-text" style="display: none;">
              <!---->
              <!---->
              <span>Show Code</span>
            </button>
          </div>
        </div>
      </div>
    </article>
  </div>
</body>

</html>
